<div class="index-container d-flex justify-content-center align-items-center">
  <div class=''>
    <h1>Task Management</h1>
    <p>This is a place where teams can manage their tasks</p>
  </div>
  <%= image_tag "working.png", height: 400 %>
</div>