<div class="container mt-5">
  <h2><%= @board.name %></h2>

  <div class="container mt-4 text-center">
    <div class="row row-cols-auto">
      <% @lists.each do |list| %>
        <ul class="kanban-col">
          <li class="kanban-col-name"><%= list.name %></li>
            <% list.tasks.each do |task| %>
              <li class="kanban-col-item" >
                <%= task.title %>
              </li>
            <% end %>
            <li class="kanban-col-item bg-secondary text-white" >
              Add a new task
            </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>