@import "bootstrap";
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .somerow.header {
  flex: 0 1 auto;
}

.box .somerow.content {
  flex: 1 1 auto;
}

.box .somerow.footer {
  flex: 0 1 40px;
}


.index-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,235,255,1) 42%, rgba(209,221,255,1) 65%, rgba(110,147,255,1) 100%);
  height: 100%;
}

.boards-index-container {
  height: 100%;
}