@import "bootstrap";
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;

  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .somerow.header {
  flex: 0 1 auto;
}

.box .somerow.content {
  flex: 1 1 auto;
}

.box .somerow.footer {
  flex: 0 1 40px;
}


.index-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,235,255,1) 42%, rgba(209,221,255,1) 65%, rgba(110,147,255,1) 100%);
  height: 100%;
}

.boards-index-container {
  height: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 160px;
}

.card-footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}




.kanban {
  display: flex;
  margin: 24px;
  gap: 8px;
}
.kanban-col {
  list-style: none;
  width: 160px;
  padding: 0;
}
.kanban-col-name {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
}
.kanban-col-item {
  background-color: peru;
  margin-bottom: 4px;
  padding: 16px;
  cursor: grab;
}
.kanban-col-item:active {
  cursor: grabbing;
}


/* Dragula CSS  */

.gu-mirror {
  position: fixed;
  margin: 0;
  z-index: 9999;
  opacity: 0.8;
	list-style-type: none;
}

.gu-hide {
  display: none;
}

.gu-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gu-transit {
  opacity: 0.2;
}


.list-group-item:hover{
  cursor: pointer;
}

.add:hover{
  cursor: pointer;
  background-color:rgba(128,128,128,0.1);
  color: black;
}


#add_list_button{
  opacity: 0.5;
}

#add_list_button:hover{
  opacity: 0.8;
}

.someclasse{
  width: 20px;
  fill: #ced4da;
}
.someclasse:hover{
  cursor: pointer;
  fill: #6c757d;
  transition: 0.3s;
}

.title{
  margin-bottom: 56px;
}
