@import "bootstrap";
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .somerow.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .somerow.content {
  flex: 1 1 auto;
}

.box .somerow.footer {
  flex: 0 1 40px;
}

.navbar {
  height: 64px;
}

.index-container {
  padding-top: 50px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,235,255,1) 42%, rgba(209,221,255,1) 65%, rgba(110,147,255,1) 100%);
  height: 100%;
  gap: 400px;
}